name: Build and Deploy to Render

on:
  push:
    branches:
      - main  # runs whenever you push to main branch

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/student-performance:latest

      - name: Notify Render to redeploy
        run: |
          curl -X POST https://api.render.com/deploy/srv-<YOUR_SERVICE_ID>?key=<YOUR_DEPLOY_KEY>
